<header id="game-section-header">
  <h3>Round <span id="round">...</span></h3>
  <h3>Time: <span id="draw-time">...</span></h3>
</header>
<article id="scores-article">
  <h3>Current leader: </h3>
  <ol id="scores-list">
  </ol>
  <button id="toggle-scores-button">V</button>
</article>

<article id="word-picker-article" class="hidden">
  <h3>It's your turn!</h3>
  <div id="word-buttons-container"></div>
</article>

<article id="drawing-article">
  <h3>Drawing</h3>
  <canvas id="drawing-board">
  </canvas>
</article>

<article id="chat-article">
  <h3>Chat</h3>
  <ul id="messages-list"></ul>
  <form action="#" id="form-chat">
    <label for="message">Guess: </label>
    <input type="text" id="chat-input" name="message">
    <input type="submit" value="send">
  </form>
</article>