<article id="no-players-article">
  <h3>Waiting for more players...</h3>
</article>

<article id="other-players-article" class="hidden">
  <h3>Other players</h3>
  <ul id="user-list">
  </ul>

  <div class="buttons-container">
    <button id="ready-button" class="ready-button" data-ready="false">
      Click here when you're ready
    </button>
    <button id="start-button" class="start-button inactive" data-ready="false">
      Start game
    </button>
  </div>

</article>