<!DOCTYPE html>
<html lang="en">

<% include ./partials/head.ejs %>

<body>
  <header>
    <h1>Ribble</h1>
  </header>
  <main>
    <section id="introduction-section">
      <article id="introduction-article">
        <% include ./partials/introduction/new-game-form.ejs %>
        <% include ./partials/introduction/join-game-form.ejs %>
      </article>
      <article id="introduction-results-article">
        <% include ./partials/introduction/leaderboard-link-box.ejs %>
      </article>
    </section>

    <section id="waiting-room-section" class="hidden">
      <% include ./partials/waiting-room/waiting-room.ejs %>
    </section>

    <section id="game-room-section">
      <% include ./partials/game-room/game-room.ejs %>
    </section>


  </main>
  <footer>created by <a href="https://lenn4rt.com/">lenn4RT</a></footer>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/index.js"></script>
</body>

</html>